html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}


h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;
    margin: 0;
}

h2,
h3 {
    font-size: 4.2rem;
}

h1 {
    font-size: 13rem;
    text-align: center;
    line-height: 0.7;
    margin-top: 10vh;
}

h1 span {
    display: block;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 3.2rem;
}

h4 {
    font-size: 3.2rem;
}

h5 {
    font-size: 3rem;
    text-transform: uppercase;
}

p {
    line-height: 3rem
}

figure {
    margin: 0;
}

img {
    width: 100%;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.buttonStyling {
    background: #e7a8e6;
    padding: 15px 17px 15px 16px;
    color: black;
    font-weight: bold;
}

.about a.buttonStyling,
.behindTheLens a.buttonStyling {
    padding: 17px 20px 17px 21px;
}

.links .linkNames {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
}

.wrapper {
    width: 80%;
    max-width: 1280px;
    padding: 20px;
    margin: 0 auto;
}

.visuallyhidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


/* HERO SECTION */

.hero {
    background: url(../assets/image-1.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1,
h2,
.hero a {
    color: white;
}

.logo{
    float: left;
}

.topSiteNav {
    float: right;
    margin-top: 15px;
}

.topSiteNav ul li {
    display: inline-block;
}

.topSiteNav a {
    padding: 20px;
}

.socialNav {
    margin-top: 25vh;
}

.socialNav ul li {
    font-size: 2rem;
    text-align: right;
    padding: 10px 5% 0 0;
}





/* ABOUT */

.about {
    background: #f0f5ff;
    text-align: center;
    padding: 100px 0;
}

.about p {
    margin-bottom: 50px;
}

/* GALLERY */

.gallery .wrapper div {
    padding: 100px 0 98px 0;
}


.gallery figure {
    margin-right: 2%;
    width: calc((100% - 4%) / 3); 
    float: left;
}

.gallery figure:last-child {
    margin: 0;
}

/* LINKS */

.links {
    background: url(../assets/image-5.png);
    background-size: cover;
    background-position: center;
    font-family: 'Playfair Display', serif;
}

.links ul {
    margin: 0 auto;
}

.links li {
    float: left;
    width: 25%;
    text-align: center;
    margin: 80px 0;
}

.links a {
    color: white;
    text-transform: capitalize;
    height: 50px;
    /* text-align: center; */
}

.links i {
    font-size: 4rem;
}

.links p {
    line-height: 1rem;
    font-size: 3rem;
}


/* MAIN */

/* BEHIND THE LENS */

.behindTheLens .wrapper {
    padding: 100px 0;
}



.behindTheLens figure {
    float: left;
    margin: 5px 42px 0 0;
    width: 25%;
    min-width: 315px;
}

.behindTheLens h3 {
    line-height: 1;
}

.behindTheLens p {
    padding-bottom: 32px;
}


/* BLOG */

.natureAndSceneryMobileImage,
.candidPhotographyMobileImage {
    display: none;
    width: 100%;
}

.natureAndScenery,
.candidPhotography {
    background: #f0f5ff;
    position: relative;
    width: 50%;
}

.natureAndScenery {
    float: left;
}

.candidPhotography {
    float: right;
}

.natureAndScenery::after,
.candidPhotography::after {
    position: absolute;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 100%;
    width: 100%;    
}

.natureAndScenery::after{
    background-image: url(../assets/image-7.png);
    top: 0;
    left: 100%;
}

.candidPhotography::after {
    background-image: url(../assets/image-8.png);
    top: 0;
    right: 100%
}

.natureAndScenery div {
    padding: 15% 15% 15% 30%;
    text-align: right;
}

.candidPhotography div {
    padding: 15% 30% 15% 15%;
    text-align: left;
}

.blog article p {
    margin-bottom: 40px;    
}


/* FOOTER */

footer {
    background: #232323;
    color: white;   
}

.mobileSubscribe {
    display: none;
}

footer a {
    text-transform: none;
}

footer li {
    line-height: 3.5rem;
}


div.floatContainer {
    padding: 0 0 100px 0;
}

section.information .floatContainer div{
    float: left;
}

.contact,
.footerNav {
    width: 25%;
}

.contact {
    text-align: left;
}

.subscribe {
    text-align: center;
    width: 50%;
    /* margin: 0 10%; */
}

.footerNav {
    text-align: right;
}

footer form {
    width: 100%;
    background: white;
}

input {
    border: none;
}

input[type=email] {
    max-width: 70%;
    padding: 15px 0 15px 30px;
    float: left;
}

input[type=submit] {
    width: 25%;
    min-width: 160px;
    float: right;
}



footer .legal {
    background: black;
    text-align: center;
}

footer .legal p {
    margin: 0;
    padding: 20px 0;
}





/* Media Queries */

@media (max-width: 1300px) {
    .behindTheLens a{
        display: block;
        width: 198px;
        margin: 0 auto;
    }
}

@media (max-width: 1032px) {

    footer {
        /* background: orange; */
    }

    footer form[name="subscribeToNewsletter"]{
        background: #232323;
        
    }

    form[name="subscribeToNewsletter"] input {
        float: none;
        max-width: 100%;
        width: 100%;
    }

    input[type="email"] {
        margin-bottom: 5px;
        padding-left: 0;
        padding-right: 0;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: center;
    }
    ::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
    }
    :-ms-input-placeholder { /* IE 10+ */
    text-align: center;
    }
    :-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

}

@media (max-width: 900px) {
    .subscribe {
        display: none;
    }

    .mobileSubscribe {
        display: block;
        text-align: center;
    }

    .contact,
    .footerNav {
        width: 50%;
        text-align: center;
    }

    .gallery figure {
        margin-right: 0;
        width: calc(50% - 10px); 
        float: left;
    }

    .gallery figure:first-child {
        margin-right: 20px;
    }

    .gallery figure:last-child {
        display: block;
        margin: 345px auto 0 auto;
        float: none;
        clear: both;
    }

}

@media (max-width: 800px) {

    


    .links li {
        width: 50%;
        margin: 50px 0;
    }
    
    .behindTheLens {
        text-align: center;
    }
    
    .behindTheLens figure {
        float: none;
        margin: 0 auto 40px auto;
        width: 80%;
        min-width: auto;
    }
    
    .links { 
        background: #1f2022;
    }

    .links li {
        /* float: left; */
        width: 100%;
        /* text-align: center; */
        /* margin: 80px 0; */
    }

    .gallery figure:last-child {        
        margin-top: 345px;        
    }

    .natureAndScenery,
    .candidPhotography {
        float: none;
        width: 100%;
    }

    .natureAndScenery div,
    .candidPhotography div  {
    padding: 15% 15% 15% 15%;
    text-align: center;
    }

    .natureAndScenery::after,
    .candidPhotography::after {
        display: none;
        clear: both;
    }   

    .natureAndSceneryMobileImage,
    .candidPhotographyMobileImage {
        display: block;
    }
}

@media (max-width: 700px) {
    .gallery figure {
        float: none;
        margin: 0 0 20px 0;
        width: 100% 
    }

    .gallery figure:last-child {        
        margin-top: 0;        
    }




}







